.aboutMe {
    .person {
        display: flex;
        align-items: center;

        .personInfo {
            width: 50%;
            padding: 0 50px;

            h4 {
                margin: 0 0 15px;
                color: $personInfoAboutMe;
                font-weight: 300;
            }

            h2 {
                margin: 0 0 30px;
                @include fluid-type(320px, 1290px, 30px, 46px);
                color: $primaryColor;
            }

            p {
                color: $secondaryColor;
                line-height: 1.5;
            }

        }

        .personPhoto {
            width: 50%;
            align-self: flex-start;

            img {
                width: 100%;
                display: block;
                border-radius: 50% 0% 30% 50%;

            }
        }
    }

    .container {

        .stats {
            display: flex;

            .stat-item {
                width: calc(100%/3);
                padding: 0 15px;

                .outline {
                    padding: 0 20px;
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.415);
                    border-radius: 10px;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;

                    i {
                        position: absolute;
                        font-size: 78px;
                        inset: 50% auto auto 0;
                        translate: -40% -50%;
                        z-index: 2;
                        color: $secondaryColor;
                        opacity: 0.3;
                    }

                    .title {
                        text-align: right;
                        font-weight: 600;
                        color: $primaryColor;
                        margin: 0 0 15px 0;
                    }

                    .number {
                        text-align: right;
                        color: $personInfoAboutMe;
                        font-size: 36px;
                        margin: 0;

                    }
                }
            }
        }
    }


}

.design-skills {
    .skill {

        margin: 0 0 15px 0;

        .skill-top {
            display: flex;
            justify-content: space-between;
            margin: 0 0 10px 0;
            align-items: center;

            .name {
                color: $primaryColor;
                font-size: 14px;

            }

            .percent {
                color: $personInfoAboutMe;
                font-size: 14px;
            }

        }

        .skill-bottom {
            .progress {
                height: 8px;
                border-radius: 4px;
                background-color: $progressBarBgColor;

                .bar {
                    display: block;
                    height: 100%;
                    background-color: $progressBarColor;
                    border-radius: 4px;

                }
            }

        }
    }
}